body {
    --primary-text: #fff;
    --secondary-text: #ececec;
    --code-text: #bfbfbf;
    --primary-bg: #111111;
    --secondary-bg: #444444;
    --grad: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 52, 89, 1) 0%, rgba(0, 168, 232, 1) 90%);
    --promary-font: 'Ubuntu', sans-serif;
}
/*@media (prefers-color-scheme:light) {
    body.web-light {
        --primary-text: #111111;
        --secondary-text: #212121;
        --code-text: #2d2d2d;
        --primary-bg: #fff;
        --secondary-bg: #c9c9c9;
        --grad: linear-gradient( 90deg,  rgba(255,236,210,1) 31.8%, rgba(252,182,159,1) 69.1% );
    }
}*/
body.web-light {
    --primary-text: #111111;
    --secondary-text: #212121;
    --code-text: #2d2d2d;
    --primary-bg: #fff;
    --secondary-bg: #ececec;
    --grad: linear-gradient( 90deg,  rgba(255,236,210,1) 31.8%, rgba(252,182,159,1) 69.1% );
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 400;
}
h1 {
    margin-bottom: 0.8em;
    text-align: center;
}
h2, h3 {
    margin-bottom: 0.2em;
}
p {
    margin-bottom: 1.1em;
}
code {
    color: var(--code-text);
    font-size: 1.2em;
    background: rgba(128, 128, 128, 0.42);
    padding: 2px 8px;
    border-radius: 3px;
}
a {
    color: var(--secondary-text);
}
a:hover {
    color: var(--secondary-text);
}

body {
    background-image: var(--grad);
    font-family: var(--promary-font);
    font-weight: 300;
    position: relative;
    min-height: 100vh;
    color: var(--primary-text);
    display: grid;
    grid-template: 1fr auto 1fr / minmax(0px, 1fr) max-content minmax(0px, 1fr);
}
.wrapper {
    height: max(50vh, 400px);
    width: max(50vw, 500px);
    padding: 25px;
    border-radius: 15px;
    background: var(--primary-bg);
    grid-area: 2/2 / auto/auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
}
.wrapper ul li {
    list-style: none;
    margin-left: 30px;
}
.wrapper nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 20px;
}
.wrapper nav a {
    text-decoration: none;
    font-weight: 400;
    background: var(--secondary-bg);
    padding: 5px 15px;
    border-radius: 2px;
}

.add-btn {
    justify-self: center;
}
.svg-icon path {
    fill: var(--secondary-text);
}
.web-dark-btn {
    background: transparent;
    border: 1px solid var(--primary-text);
    height: 60px;
    width: 60px;
    border-radius: 5px;
}
@media (max-width:610px) {
    .wrapper {
        min-width: 100vw;
        min-height: 100vh;
        padding: 15px;
    }
}